# Unity3D .gitignore file.
#     Store this file at the root of your local repository.
Library
Temp
*.sln
*.csproj
*.unityproj
*.pidb
*.userprefs
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
FUN-charp.sln
FUN.sln
FUN.userprefs
trunk-csharp.sln
trunk.sln
trunk.userprefs
